In [21]:
print("correct intend");print("incorrect intend")

correct intend
incorrect intend

In [13]:
print(500-3)

497

In [18]:
if False:
    print("hul")
    print("good")

In [26]:
x=3 
y=2
print(x+y)

5

In [27]:
x=300
x**3

27000000

In [33]:
x=10
print("둘레",x*2*3.14)

둘레 62.800000000000004

In [35]:
sum=100
lst = [10, 30 , 40]
total = sum(lst)

TypeError: 'int' object is not callable

In [38]:
name = '홍길동'
age = 27
print('"안녕!" 나는', name , '이야. 나는 나이가', age, '살이야.')

"안녕!" 나는 홍길동 이야. 나는 나이가 27 살이야.

In [39]:
width=20
height=30
width=40
print('area', width*height)

area 1200

In [40]:
5%2

1

In [41]:
2**(1/2)

1.4142135623730951

In [42]:
pow(2,2)

4

In [1]:
intnum=100
floatnum = 100.0
strdata="하이"
type(intnum)

int

In [6]:
intnum=100
str(intnum)
strData="안녕"
type(num)
print(strData+intnum)

TypeError: can only concatenate str (not "int") to str

In [7]:
hello = "여러분 안녕하세요!!"
print(hello)

여러분 안녕하세요!!

In [8]:
hello='"여러분" 안녕하세요'
print(hello)

"여러분" 안녕하세요

In [9]:
hello_1 = ''' 안녕하세요 반갑습니다
여기는 스마트 펙토리 수업반 입니다'''
print(hello_1)

 안녕하세요 반갑습니다
여기는 스마트 펙토리 수업반 입니다

In [11]:
hello_2 = "안녕 \n 하세요"
print(hello_2)

안녕
 하세요

In [13]:
data ='\U00000061'
print(data)

a

In [14]:
#boolean 형
print(2 ==3)

False

In [15]:
print(4 ==2*2)

True

In [21]:
print(2==3 & 4 ==2*2)
print(2==3 or 4 ==2*2)

False
True

In [22]:
print(2!=3)

True

In [24]:
#복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)

3.0
2.0

In [28]:
print(number_1+number_2)
print(number_1-number_2)
print(number_1*number_2)
print(number_1/number_2)

(5+9j)
(-1-3j)
(-12+21j)
(0.5333333333333333-0.06666666666666667j)

In [29]:
#bool 테스트
bool(-1)

True

In [30]:
bool(0)

False

In [31]:
bool(1)

True

In [35]:
bool(None)

False

In [36]:
bool('')

False

In [42]:
str ='hello'
bool(str)

True

In [ ]:
'''
이것은 
지금 파이썬 데이터 코딩 하고 있는 모습니다.
그렇죠
'''
print('만ㅈ')