In [1]:
int Num = 100
strData = "안녕"
print(int Num + strData)

SyntaxError: invalid syntax (<ipython-input-1-e1306fd0581c>, line 1)

In [10]:
intnum=100
str(intnum)
strData="안녕"
type(intnum)
print(strData+str(intnum))

안녕100

In [8]:
pow(2, 2)

4

In [9]:
2**(1/2)

1.4142135623730951

In [3]:
input_data = input ("당신이 사는곳은?")
print(input_data)

당신이 사는곳은?서울
서울

In [5]:
input_name = input("이름을 입력하세요!")
print(input_name , '님 반갑습니다')

이름을 입력하세요!이우빈
이우빈 님 반갑습니다

In [6]:
num = 100;
print('num =', num)
num = num + 100
print('num =', num)
num = num + 100
print('num =', num)

num = 100
num = 200
num = 300

In [7]:
num = 100;
print('num =', num)
num = num * 100
print('num =', num)
num = num * 100
print('num =', num)

num = 100
num = 10000
num = 1000000

In [8]:
num = 100;
print('num=', num)

num *= 100
print('num=', num)

num = num * 100
print('num=', num)

num= 100
num= 10000
num= 1000000