In [21]:
print("correct intend");print("incorrect intend")

correct intend
incorrect intend

In [13]:
print(500-3)

497

In [18]:
if False:
    print("hul")
    print("good")

In [26]:
x=3 
y=2
print(x+y)

5

In [27]:
x=300
x**3

27000000

In [33]:
x=10
print("둘레",x*2*3.14)

둘레 62.800000000000004

In [35]:
sum=100
lst = [10, 30 , 40]
total = sum(lst)

TypeError: 'int' object is not callable

In [38]:
name = '홍길동'
age = 27
print('"안녕!" 나는', name , '이야. 나는 나이가', age, '살이야.')

"안녕!" 나는 홍길동 이야. 나는 나이가 27 살이야.

In [39]:
width=20
height=30
width=40
print('area', width*height)

area 1200

In [40]:
5%2

1

In [41]:
2**(1/2)

1.4142135623730951

In [42]:
pow(2,2)

4

In [1]:
intnum=100
floatnum = 100.0
strdata="하이"
type(intnum)

int

In [6]:
intnum=100
str(intnum)
strData="안녕"
type(num)
print(strData+intnum)

TypeError: can only concatenate str (not "int") to str

In [7]:
hello = "여러분 안녕하세요!!"
print(hello)

여러분 안녕하세요!!

In [8]:
hello='"여러분" 안녕하세요'
print(hello)

"여러분" 안녕하세요

In [9]:
hello_1 = ''' 안녕하세요 반갑습니다
여기는 스마트 펙토리 수업반 입니다'''
print(hello_1)

 안녕하세요 반갑습니다
여기는 스마트 펙토리 수업반 입니다

In [11]:
hello_2 = "안녕 \n 하세요"
print(hello_2)

안녕
 하세요

In [13]:
data ='\U00000061'
print(data)

a

In [14]:
#boolean 형
print(2 ==3)

False

In [15]:
print(4 ==2*2)

True

In [21]:
print(2==3 & 4 ==2*2)
print(2==3 or 4 ==2*2)

False
True

In [22]:
print(2!=3)

True

In [24]:
#복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)

3.0
2.0

In [28]:
print(number_1+number_2)
print(number_1-number_2)
print(number_1*number_2)
print(number_1/number_2)

(5+9j)
(-1-3j)
(-12+21j)
(0.5333333333333333-0.06666666666666667j)

In [29]:
#bool 테스트
bool(-1)

True

In [30]:
bool(0)

False

In [31]:
bool(1)

True

In [35]:
bool(None)

False

In [36]:
bool('')

False

In [42]:
str ='hello'
bool(str)

True

In [44]:
'''
이것은 
지금 파이썬 데이터 코딩 하고 있는 모습니다.
그렇죠
'''
print('맞죠?')

맞죠?

# if문

In [2]:
철수 = 19
if 철수 < 20 :
    print("청소년 할인 됩니다.")
print("돈 내세요!!!")

청소년 할인 됩니다.
돈 내세요!!!

In [1]:
철수 = 20
if 철수 < 20 :
    print("청소년 할인 됩니다.")
print("돈 내세요!!!")

돈 내세요!!!

In [18]:
time = input("시간을 입력하세요 : ")
if(int(time) < 15) :
    print("오전입니다.")
else :
    print("오후입니다.")

시간을 입력하세요 : 13
오전입니다.

In [26]:
man_power = input("힘을 입력하세요 : ")
power = int(man_power)
if(power < 100):
    print("시비 걸기")
elif(100 < power < 200):
    print("고민해보기")
else :
    print("형님하기")

힘을 입력하세요 : 150
고민해보기

# for문

In [31]:
for i in range(-1,6):
    print(i)

-1
0
1
2
3
4
5

In [36]:
arr = ["영희", "철수", "만수", "똘이"]
for i in arr :
    print(i)

영희
철수
만수
똘이

In [37]:
for _ in range(10):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

# range()
### range ([start], [stop], [step])

In [43]:
arr = range(1, 10, 2)
print(len(arr))
print(type(arr))
for i in arr :
    print(i)

5
<class 'range'>
1
3
5
7
9

In [57]:
sum = 0
for i in range(0, 100):
    sum = sum + i
print('1부터 100까지의 합은', sum)

1부터 100까지의 합은 4950

In [66]:
multi = 2
result = 1
for i in range(1, 10):
    result = multi * i
    print('2 X',i ,'=', result)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

### n factorial

In [70]:
n = int(input('input your number:'))
fact = 1
for i in range(1, n+1):
    fact = fact*i
print(i,'!=', fact)

input your number:3
3 != 6

In [75]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0
i = 1
while i <= n:
    s = s + i
    i = i+1
print('1부터 {}까지의 합은 {}'. format(n,s))

합계를 구할 수를 입력하세요 : 100
1부터 100까지의 합은 5050

In [79]:
n = -1
while n <= 0:
    n = int(input('합계를 구할 양의 정수를 입력하세요 : '))
    if(n <= 0):print("음수를 입력하셨습니다.")
s = 0
for i in range(1, n+1):
    s = s + i
print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 양의 정수를 입력하세요 : -3
음수를 입력하셨습니다.
합계를 구할 양의 정수를 입력하세요 : -1
음수를 입력하셨습니다.
합계를 구할 양의 정수를 입력하세요 : 15
1부터 15까지의 합은 120

## break, continue

In [85]:
str = "Programing Language"
for i in str:
    if i in ['a', 'e', 'i','o', 'u']:
        break
    print(i)
print("The End")

P
r
The End

In [82]:
bool('i' in['i','a'])

True

In [86]:
str = "Programing Language"
for i in str:
    if i in ['a', 'e', 'i','o', 'u']:
        continue
    print(i)
print("The End")

P
r
g
r
m
n
g

L
n
g
g
The End